@font-face {
    font-family: Baufra;
    src: url(./fonts/BaufraBold.ttf);
}

body {
    margin: 0;
}

h1 {
    font-family: Baufra;
    font-size: 5rem;
    text-align: center;
    color: #D92121;
}
.gameboard , .ai-gameboard {
    display:grid;
    grid-template-columns: repeat(3,auto);
    margin-top: 100px;    
    
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.ai-gameSection {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.player-markers {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cell , .ai-cell{
    border: 2px solid black;
    width: 150px;
    height:150px;
    cursor:pointer ;
    color: #D92121;
} 

.winning-message {
 position: fixed;
 top:0;
 left: 0;
 right: 0;
 bottom: 0;   
 background-color: rgba(0,0,0,50%);
 display: none;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 5rem;
 flex-direction: column;
 font-family: monospace;
}

.winning-message button {
    color: #D92121;
}

 button {
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 10px;
}


 button:hover {
    background-color: #D92121;
    color: white;
    border: 1px solid #D92121;
}

button:disabled:hover {
    background-color: white;
    color: black;
    cursor:default;
}

.winning-message.show {
    display: flex;
    gap: 40px;
}

.cell , .ai-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    font-family: 'Fredoka One', cursive;
}


.formHeader {
    display: flex;
    gap: 40px;
    font-size: 20px;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
.formSection {
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: monospace;
}

.formSection-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
}
form {
    display:flex ;
    gap:200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    color: #D92121;
}
input {
    font-size: 16px;
}
input::placeholder {
    font-size: 14px;
}
.form-item {
    display: flex;
    flex-direction: column;
}

#gb-0,#gb-1,#gb-2 , #ai-gb-0,#ai-gb-1,#ai-gb-2 {
    border-top:0 ;
}
#gb-0,#gb-3,#gb-6 , #ai-gb-0,#ai-gb-3,#ai-gb-6 {
    border-left:0;
}

#gb-7,#gb-8,#gb-6 , #ai-gb-7,#ai-gb-8,#ai-gb-6{
    border-bottom: 0;
}
#gb-2,#gb-5,#gb-8 ,#ai-gb-2,#ai-gb-5,#ai-gb-8 {
    border-right: 0;
}

.playernames {
    display: flex;
    align-content: center;
    justify-content: center;
    gap:100px;
    font-size: 24px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.opponent-matcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}



.form-btn-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    font-size: 20px;
}

.marker-identifiers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.player-identifier , .ai-identifier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#restartButton {
    font-size: 14px;
    padding: 10px 20px;
}

.winning-message-text {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.confirm-opponent {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
}
.marker {
    padding: 5px 100px;
    font-size: 24px;
}

.player1name, .player2name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.player1marker , .player2marker, .player-marker , .ai-marker {
    color: #D92121;
}


@media (max-width:600px) {
    .opponent-matcher {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        
    }

    .confirm-opponent {
        min-width: 200px;
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
    }

    .player-markers {
        display: flex;
        flex-direction: column;
    }

    .marker {
        padding: 5px 100px;    
        font-size: 24px;
        align-self: center;
    }
    .cell , .ai-cell {
        width: 80px;
        height: 80px;
        font-size: 90px;
    }

    
}

.hide {
    display: none;
}