body {
    margin: 0;
}

h1 {
    font-family: monotype;
    font-size: 4rem;
    text-align: center;
}
.gameboard {
    display:grid;
    grid-template-columns: repeat(3,auto);
    margin-top: 50px;
     
    
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cell {
    border: 2px solid black;
    width: 100px;
    height:100px;
    cursor:pointer ;
    color: black;
} 

.winning-message {
 position: fixed;
 top:0;
 left: 0;
 right: 0;
 bottom: 0;   
 background-color: rgba(0,0,0,50%);
 display: none;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 5rem;
 flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    font-family: 'Fredoka One', cursive;
}

.hide {
    display: none;
}

.formSection {
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
form {
    display:flex ;
    gap:20px;
    justify-content: center;
    align-items: center;
}

#gb-0,#gb-1,#gb-2 {
    border-top:0 ;
}
#gb-0,#gb-3,#gb-6 {
    border-left:0;
}

#gb-7,#gb-8,#gb-6 {
    border-bottom: 0;
}
#gb-2,#gb-5,#gb-8 {
    border-right: 0;
}
.playernames {
    display: flex;
    align-content: center;
    justify-content: center;
    gap:100px;
    font-size: 2rem;
}